.Grilla, .likes{
    background:-webkit-linear-gradient(270deg, rgb(46, 0, 211), rgba(10, 177, 255));
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    font-family:Arial, Helvetica, sans-serif;
}