.Grilla, .likes{
    background:-webkit-linear-gradient(270deg, rgba(35, 0, 163, 0.621), rgba(10, 226, 255, 0.541));
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    font-family:Arial, Helvetica, sans-serif;
}


