
hr{
    margin:25px auto;
}

.header_name{
    display:flex;
    margin-left:20px;
}

.grilla_icon{
    /* padding:5px 7px; */
    border-radius:50%;
}

.icon{
    height:70px;
    width:70px;
}

.Grilla{
    background:-webkit-linear-gradient(270deg, rgba(35, 0, 163, 0.621), rgba(10, 226, 255, 0.541));
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    font-family:Arial, Helvetica, sans-serif;
}


