
.recipe_name{
    background:-webkit-linear-gradient(270deg, rgba(20, 0, 92, 0.621), rgba(0, 182, 206, 0.541));
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
}

.loading{
    border-top-color:rgba(10, 226, 255, 0.541);
    border-right-color:rgba(10, 226, 255, 0.541);
    border-left-color:rgba(10, 226, 255, 0.541);
}
